<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'REWARDS.rewards' | translate:params }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="points-button-container">
    <ion-button text-center fill=clear (click)="changePointsBoxState()">
      <ion-card-title>{{currentUser.points.currentPoints}}<span id="pts"> pts</span></ion-card-title>

        <ion-icon name="arrow-dropdown" *ngIf="!showSearchContainer"></ion-icon>
        <ion-icon name="arrow-dropup" *ngIf="showSearchContainer"></ion-icon>

    </ion-button>
  </div>
  <div [hidden]="!showSearchContainer" class="points-container">
    <ion-item>
      <ion-label>{{ 'REWARDS.earned' | translate:params }}:
        {{currentUser.points.currentPoints + currentUser.points.blockedPoints + currentUser.points.exchangedPoints}} pts</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'REWARDS.used' | translate:params }}: {{currentUser.points.exchangedPoints}} pts</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'REWARDS.onHold' | translate:params }}: {{currentUser.points.blockedPoints}} pts</ion-label>
    </ion-item>
  </div>
  <ion-list *ngFor="let reward of rewards" class="list-rewards">
    <ion-item-sliding>
      <ion-item (click)="goToRewardDetailsPage (reward)" class="chat-item">
        <ion-avatar slot="start">
          <img [src]="reward.photo">
        </ion-avatar>
        <ion-label>
          <h3>{{reward.name}}</h3>
          <p>{{ 'REWARDS.exchange' | translate:params }} {{reward.points}} pts</p>
        </ion-label>
      </ion-item>
      <ion-item-options *ngIf="currentUser?.isAdmin"  side="end">
        <ion-item-option color="success" (click)="editReward(reward)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="presentAlertConfirm(reward.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab *ngIf="currentUser?.isAdmin" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button expand="block" color="secondary" (click)="addReward()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
