
<ion-content fullscreen>
  <form [formGroup]="setUpForm">
    <h2 class="title">Profile info</h2>

        <p class="text-description">Please introduce your name and an optional photo:</p>
        <div class="user-photo">
          <ion-avatar>
            <img [src]="photo" (click)="uploadNewPhoto()">
          </ion-avatar>
        </div>
        <ion-item>
          <ion-input formControlName="name" required placeholder="Type your name here"></ion-input>
        </ion-item>



  </form>
  <footer padding>
    <ion-button (click)="updateUser()" [disabled]="setUpForm.invalid">Next</ion-button>
  </footer>

</ion-content>

