<ion-header>
  <ion-toolbar color="primary">
    <ion-title>User Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-photo" padding-top>
    <ion-avatar>
      <img [src]="user?.photo || '/assets/icon/favicon.jpg'">
    </ion-avatar>
    <ion-card-title id="name-user">{{user?.name}}</ion-card-title>
    <div class="rating-value">
      <ion-icon name="star" slot="start"></ion-icon>
      <label id="user-rating">{{user?.averageRating}}/5 ({{user?.numberOfRatings}})</label>
    </div>
  </div>

    <ion-item *ngIf="user?.carDetails">
      <ion-icon name="car"></ion-icon>
      <ion-label class="car-details">
        <h2>{{user?.carDetails}}</h2>
      </ion-label>
    </ion-item>
  <ion-title text-center>Ratings</ion-title>
  <ion-list *ngFor="let rating of ratings" class="list-ratings">

    <ion-item>
      <ion-avatar slot="start" (click)="goToUserDetailsPage(user.id)">
        <img alt="userPhoto" [src]="rating.fromUser?.photo ">
      </ion-avatar>
      <div class="user-info">
        <ion-label>
          <h2>{{rating.fromUser?.name}}</h2>
        </ion-label>
        <ion-icon name="star" slot="start"></ion-icon>
        <label> {{rating.rating}}/5</label>
        <ion-label>{{rating?.comment}}</ion-label>
      </div>
      <ion-card-subtitle slot="end">{{rating.dateTime | date:'dd MMM h:mm'}} </ion-card-subtitle>

    </ion-item>
  </ion-list>
</ion-content>
