<ion-content fullscreen padding>

    <ion-slides #slides [options]="{onlyExternal: false}" >
        <ion-slide class="slide-container1">
            <h1 class="title">Welcome to <br><b>ULPGC <i>RideSharing</i></b></h1>
            <div class="user-photo" padding-top>
                <ion-avatar>
                    <img [src]="currentUser?.photo || '/assets/icon/favicon.jpg'">
                </ion-avatar>
            </div>


            <footer>
                <p class="text-policy">Read our
                    <ion-label color="secondary">Privacy Policy</ion-label>
                    . Tap "Agree and Continue" to accept
                    the
                    <ion-label color="secondary">Terms of Service</ion-label>
                </p>
                <ion-button class="accept-button" (click)="slides.slideNext()">Agree and Continue</ion-button>
            </footer>

        </ion-slide>
        <ion-slide >
            <div *ngIf="!phoneSent" class="slide-container2">
                <h2 class="phone-title">Verify your phone number</h2>
                <p class="phone-text">ULPGC RideSharing will send a SMS message to verify your phone number.<br>
                    Enter your country code and phone number.</p>

                <div class="phone-input">
                    <int-phone-prefix [defaultCountry]="'es'"
                                      [(ngModel)]="phoneNumber"></int-phone-prefix>
                    <div>
                        <p class="text-policy"> You must be <ion-label color="secondary">at least 16 years old</ion-label> to register.</p>
                        <ion-button class="accept-button" type="submit" color="primary" (click)="logIn()">Next</ion-button>
                    </div>
                </div>
            </div>

            <div *ngIf="phoneSent" class="slide-container2">
                <h2 class="phone-title">Verify your phone number</h2>
                <p class="phone-text">Waiting to automatically detect an SMS sent to your phone number</p>

                <div class="phone-input">
                    <ion-input class="code-input" type="number" [(ngModel)]="confirmationCode"
                               placeholder="Enter the code here"></ion-input>

                    <ion-button type="submit" color="primary" (click)="sendCode()">Next</ion-button>
                </div>
            </div>
        </ion-slide>

    </ion-slides>


</ion-content>


