:host {

  .user-photo ion-avatar {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }

  .profile-form {
    margin: 0 20px;
  }

  .options {
    margin: 0 20px;
  }

  .footer {
    position: fixed;
    z-index: 0;
    width: 100%;
    bottom: 10px;
  }

  .spinner-container {
    padding-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

}
