<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{ 'PROFILE.profile' | translate:params }}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="profileForm" class="profile-form">
        <div class="user-photo" padding-top>
            <ion-avatar>
                <img [src]="photo" (click)="uploadNewPhoto()">
            </ion-avatar>
        </div>
        <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>{{ 'PROFILE.displayName' | translate:params }}</ion-label>
            <ion-input formControlName="name" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-label>{{ 'PROFILE.phoneNumber' | translate:params }}</ion-label>
            <ion-input formControlName="phoneNumber" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon name="car" slot="start"></ion-icon>
            <ion-label>{{ 'PROFILE.carDetails' | translate:params }}</ion-label>
            <ion-input formControlName="carDetails" placeHolder="Model, color..."></ion-input>
        </ion-item>
    </form>
    <div class="options">
        <ion-item>
            <ion-icon name="options" slot="start"></ion-icon>
            <ion-label>{{ 'PROFILE.selectLanguage' | translate:params }}</ion-label>
            <ion-select placeholder="Select One" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
                <ion-select-option value="en">English</ion-select-option>
                <ion-select-option value="es">Spanish</ion-select-option>

            </ion-select>
        </ion-item>

        <ion-item lines="none">
            <ion-icon name="alert" slot="start" color="danger"></ion-icon>
            <ion-label color="danger" (click)="presentAlertConfirm()">{{ 'PROFILE.cancelAccount' | translate:params }}</ion-label>
        </ion-item>

    </div>
    <div class="spinner-container" *ngIf="isSpinning">
        <ion-spinner name="lines"></ion-spinner>
    </div>
    <footer class="footer">

        <ion-button expand="full" type="submit" (click)="updateUser()"
                    [disabled]="profileForm.invalid">{{ 'GENERIC.save' | translate:params }}
        </ion-button>
    </footer>


</ion-content>
