:host {
  #icon-more{
    font-size: 20px;
    margin-right: 5px;
  }

  .message-area {
    min-height: 100%;
    width: 100%;
    position: relative;
    overflow: auto;
    padding: 15px 10px;


    .message {

      p {
        color: black;
        font-size: 13px;
        font-weight: bold;
        max-width: 95%;
        min-width: 55%;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        padding: 10px 15px 10px 7px;
        margin: 5px 0;
        background: #bedfff;
      }

    }

    .message.incoming {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      p {
        border-radius: 0 11px 11px 11px;
        background:  #ffe9d1;
      }

      ion-avatar {
        margin-right: 3px !important;

        img {
          min-width: 40px;
          max-width: 40px;
          height: 40px;
        }
      }
    }

    .message.outgoing {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;

      p {
        color: black;
        border-radius: 11px 11px 0 11px;
      }
    }
  }

  ion-footer {
    --ion-toolbar-background-color: var(--ion-color-white);

    .message-input {
      padding-left: 8px;
    }
  }

}
