<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="!reward?.id">{{ 'REWARDS.newReward' | translate:params }}</ion-title>
    <ion-title *ngIf="reward?.id">{{ 'REWARDS.editReward' | translate:params }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="rewardForm">
    <div class="reward-photo" padding-top>
      <ion-avatar>
        <img [src]="photo" (click)="uploadNewPhoto()">
      </ion-avatar>
    </div>
    <ion-item>
      <ion-label>{{ 'REWARDS.name' | translate:params }}</ion-label>
      <ion-input formControlName="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'REWARDS.points' | translate:params }}</ion-label>
      <ion-input formControlName="points" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Stock</ion-label>
      <ion-input formControlName="stock" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'REWARDS.desccription' | translate:params }}</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>


  </form>

</ion-content>
<ion-footer >
  <ion-button expand="full" type="submit" (click)="createReward()" margin-bottom
              [disabled]="rewardForm.invalid" *ngIf="!reward?.id">
    {{ 'GENERIC.save' | translate:params }}
  </ion-button>
  <ion-button expand="full" type="submit" (click)="editReward()" margin-bottom
              [disabled]="rewardForm.invalid" *ngIf="reward?.id">
    {{ 'GENERIC.save' | translate:params }}
  </ion-button>
</ion-footer>
