<ion-header>
    <ion-toolbar color="primary">
        <ion-title text-center>Ride Tracking</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <div #map id="map"></div>
    </ion-card>

    <div *ngIf="!isRating" text-center class="start-button">
        <ion-button (click)="startTracking()" *ngIf="!isTracking">
            <ion-icon name="locate"></ion-icon>
            Start Tracking
        </ion-button>
        <ion-button color="danger" (click)="stopTracking()" *ngIf="isTracking">
            <ion-icon name="hand"></ion-icon>
            Stop Tracking
        </ion-button>
    </div>

    <div *ngIf="isRating" class="rating">

        <div *ngIf="currentUser.id !== driver.id">
            <h2 text-center>Please, rate your driver!</h2>
            <ion-item (click)="presentRatePopover(driver, 0)" [disabled]="driver.isRated">
                <ion-avatar>
                    <img [src]="driver?.photo">
                </ion-avatar>
                <ion-label>{{driver?.name}}</ion-label>
            </ion-item>
        </div>


        <div *ngIf="currentUser.id === driver.id">

            <h2 text-center>Please, rate your passengers!</h2>

            <ion-list *ngFor="let user of passengers; let i = index" [attr.data-index]="i">
                <ion-item (click)="presentRatePopover(user, i)" [disabled]="user.isRated">
                    <ion-avatar>
                        <img [src]="user?.photo">
                    </ion-avatar>
                    <ion-label>{{user?.name}}</ion-label>
                </ion-item>
            </ion-list>
        </div>

        <div text-center class="done-button">
            <ion-button (click)="closeModal()" [disabled]="numberOfUsersNoRated> 0">Done</ion-button>
        </div>
    </div>

</ion-content>
